@charset "UTF-8";

 html, body {
	 background: #111;
}

 #container {
	 background: #111;

   position: fixed;
   top: 60%;
   left: 73%;
   transform: translate(-50%, -50%);

}



.centrd {
  display: flex;
  justify-content: center;
}


.btm {
  position: fixed;
  top: 75%;
  left: 25%;
  transform: translate(-50%, -50%);
}
